PORT=3001
NODE_ENV=development

DATABASE_URL=postgresql://USE_YOUR_ACCOUNT

CLERK_PUBLISHABLE_KEY=pk_test_YOUR_PUBLISHABLE_KEY
CLERK_SECRET_KEY=sk_test_YOUR_SECRET_KEY

STREAM_API_KEY=your_stream_api_key
STREAM_API_SECRET=your_stream_api_secret_key

IMAGEKIT_PUBLIC_KEY=public
IMAGEKIT_PRIVATE_KEY=private
IMAGEKIT_URL_ENDPOINT=https